.App {
  text-align: center;
  /* height: 100%; */
}



html {
  width: 100%;
  height: 100%;
  background-color: #390099;
}



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #FF0A0A;
  box-shadow: 6px 1px 11px #FF0A0A inset;
  background-color: #ffffff;
}

.header-font {
  font-family: Moul;
  font-weight: 400px;
  font-size: 57px;
  text-align: center;
  text-shadow: -3px 8px 3px rgba(0, 0, 0, 0.47);

  font-style: normal;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.62);
  -webkit-text-fill-color: #E0B1CB;
}

.header {
  background-color: #5946B4;

  /* font-weight: 400; */
  /* max-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: rgb(0, 0, 0);

  /* position: absolute; */
  top: 0;
  width: 100%;
  /* box-shadow:  12px 12px 12px #eaa3a3 ; */
  box-shadow: 6px 1px 11px #000 inset;
  border-bottom: 1px solid #FF0A0A;
}

.main-flex {
  display: flex;
  flex-direction: row;
  box-shadow: 6px 1px 11px #000 inset;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  height: auto;
  max-width: auto;
  padding: 2% 2% 2% 2%;
  font-family: Moul;
  opacity: .8;

}

#ContentTypography {
  font-family: 'Irish Grover';
  color: #E0B1CB;
  stroke-width: 2%;


  font-weight: 400;
  font-size: 23px;
  line-height: 57px;

}

.main-content {

  width: 30%;
  height: 100%;
  margin: 2% 2% 2% 2%;
  background-color: #5946B4;
  border: 1px solid #FF0A0A;
  /* box-shadow: 0px 2px 0px #FF0A0A 65%; */
  box-shadow: 0px 2px 15px 0px #FF0A0AA6;
  box-shadow: 0px 2px 15px rgba(255, 10, 10, 0.65);

}







.footer {

  background-color: #5946B4;
  width: 100%;
  box-shadow: 6px 1px 11px #000 inset;
}

.btn-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.btn-blue,
.btn-green,
.btn-red,
.btn-pink,
.btn-blue,
.btn-yellow {

  
  font-family: 'Irish Grover';
  font-size: 24px;
  font-weight: 400;
  line-height: 0px;
  letter-spacing: 0em;
  text-shadow: 2px 2px #CCFF33;
  /* text-align: center; */

}


.btn-red {
  min-width: 200px;
  max-width: 200px;
  height: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid #6f0b0b45;
  background-color: #d92323ed;
  box-shadow: 24px 17px 11px #530202de inset;
  border-radius: 20px;
  margin: 15px 15px 15px 15px;



}

.btn-yellow {
  min-width: 200px;
  max-width: 200px;
  height: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid #6f680b45;
  background-color: #d9be23ed;
  box-shadow: 24px 17px 11px #534b02de inset;
  border-radius: 20px;
  margin: 15px 15px 15px 15px;


}

.btn-green {
  min-width: 200px;
  max-width: 200px;
  height: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid #216f0b45;
  background-color: #26d923ed;
  box-shadow: 24px 17px 11px rgba(2, 83, 53, 0.87) inset;
  border-radius: 20px;
  margin: 15px 15px 15px 15px;


}

.btn-blue {
  min-width: 200px;
  max-width: 200px;
  height: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid #6f0b0b45;
  background-color: #0b7dbaed;
  box-shadow: 24px 17px 11px #023753de inset;
  border-radius: 20px;
  margin: 15px 15px 15px 15px;

}

.btn-pink {
  min-width: 200px;
  max-width: 200px;
  height: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid #6f0b0b45;
  background-color: #bb23d9ed;
  box-shadow: 24px 17px 11px #510f80de inset;
  border-radius: 20px;
  margin: 15px 15px 15px 15px;

}




.balloon{


width: 67px;
height: 60.5px;

background: #FF00F5;
box-shadow: inset 19px 10px 4px rgba(0, 0, 0, 0.41);


flex: none;
justify-content: center;
align-items: center;

border-radius: 80%;



};

